@model MindSpace.Presentation.Mvc.Models.JournalEntry.CreateViewModel
@{
    ViewBag.Title = "Edit Journal Entry";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <partial name="CreateEditPartial" model="Model" />
    </form>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/CreateJournalEntry.js"></script>
}
